/* Small phones to small tablets: from 481px to 767px */
@media only screen and (min-width: 2561px) {

.mapouter-large {
    height: 500px;
    width: 742px;}

i.fa-birthday-cake {font-size: 800%;}

.about-anni {padding: 0 25%}

.advant-intro-btn:link,
.advant-intro-btn:visited {
    padding: 20px;
    font-size: 18px;
}

img.shark-mask-pic {margin-right: inherit;}

.find-tib-text2 {
    margin-top: 192px;
    font-size: 44px;
}

.find-tib-text {
    font-size: 44px;
    margin-top: 172px;
}

.fa-sun,
.fa-swimmer,
.fa-umbrella-beach,
.fa-snowboarding,
.fa-skating,
.fa-snowflake {font-size: 140px;}

.fas-img {font-size: 385px;}

header {background-attachment: inherit;}

.body-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 2561px;
    box-shadow: 9px 0 9px 0 rgba(168, 159, 159, 0.8), -9px 0 9px 0 rgba(168, 159, 159, 0.8);
}

.sticky {
max-width: 2561px;
left: auto;
}

.top-sticky {
    max-width: 2561px;
    position: revert;
}

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (min-width: 1743px) {

ul.bullets2 h2,
ul.bullets h2 {font-size: 34px;}

.fas-l,
.fas-r {font-size: 77px;}

.slider-text {top: 190px;}

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 1742px) {

.fas-l,
.fas-r {font-size: 3vw;}

.slider-text {top: 45%;}

}

/* Big tablet to 1200px (Widths smaller than the 1140px row) */
@media only screen and (max-width: 1500px) {

ul.bullets h2 {padding: 20px 15px 0 5px;}

ul.bullets2 h2 {
    padding: 20px 12px 0 0;
    margin-left: 50px;
}

.top-mech-lpad {
    padding-left: 40px;}

ul.bullets h2:first-child {margin-top: 30px;}

.header2-pt {font-size: 4vw;}
.header2 {font-size: 3.3vw;}

h1.other,
.other-lockers,
.main-header {font-size: 5.9vw;}
    }

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (min-width: 1201px) {

h1.protech-text-head,
.main-header {font-size: 92px;}

.header2-pt {font-size: 60px;}
.header2 {font-size: 42px;}

}

/* Big tablet to 1200px (Widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    
.about-anni {font-size: 125%;}

.about-banner-header {
    font-size: 48px;
    padding: 0;
}

i.fa-birthday-cake {font-size: 400%;}

.resize-link-underline {width: 60px;}

.case-study-copy {
    font-size: 20px;
    margin: 10px 40px 75px 20px;
}

.case-copy-yr {
    font-size: 18px;
    margin: 5px 20px;
}

.new-feats-par {padding-bottom: 5vh;}

nav {font-size: 14px;}

.dropdown-advant .dropbtn-advant {padding: 30px 12px 9px 12px;}

.dropdown-ele .dropbtn-ele {padding: 30px 12px 9px 12px;}

.dropdown .dropbtn {padding: 0 12px 9px 12px;}

.dropbtn-ele-sticky {padding: 15px 16px 9px 16px;}

.dropbtn-advant-sticky {padding: 15px 12px 9px 12px;}

.main-nav li {margin-left: 0;}

.logo-black,
.logo {
    margin-bottom: 8px;
    margin-top: 7px;
    height: 55px;
}

.hero-text-box,
.hero-text-box-lockers,
.hero-text-box-lockers-2,
.hero-text-box-other {
    width: 100%;
    padding: 0 2%;
}

.case-study li,
h3.case-study {line-height: 1.25;}

.susp-link-top {font-size: 1.5vw;}

}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

.box-22 { width: 80%; }

.icon-small2 {font-size: 32px !important;}

.case-study-copy {font-size: 20px;}

.faq-copy {width: 82%;}

h2.h2-ele-subtext {
    margin-bottom: 0;
    font-size: 110%;
}

.box-need {font-size: 18px;}

ul.bullets h2:first-child {margin-top: 20px;}

.slider-text {
    top: 42.5%;
    left: 1px;
}

.fas-r {padding-left: 20%;
    font-size: 5vw;}

.fas-l {padding-right: 15%;
    font-size: 5vw;}

.contact-spacer4:after {margin-top: 41px;}

.privacy-copy2,
.privacy-copy,
.about-copy {width: 70%;
    margin-left: 15%;
}

ul.bullets2 h2 {margin-top: 20px;
    margin-bottom: 15px;
}

.box-specs.col:first-child {
    width: 38%;
    margin-left: 1%;
}

.box-specs-r.col:last-child {
    width: 38%;
    margin-right: 1%;
}

h3.h3-lockers {padding-left: 5%;}

h2.contact-spacer-maps {display: block;}

body {font-size: 18px;}

.faq-section,
section {padding: 35px 10px;}

section .section-features-map {padding: 0 0;}

.long-copy {
width: 60%;
margin-left: 20%;}

.contact-form  {width: 80%;}

.section-features .row-map {
    flex-wrap: wrap;
    display: grid;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto 0 auto;
}

section .section-features,
.section-map { padding: 0;}

.btn-more:link,
.btn-more:visited,
.btn-get-lockers:link,
.btn-get-lockers:visited {margin: 5px 2%;}

.btn-coin-stat:link,
.btn-coin-stat:visited,
.btn-ele-lockers-stat:link,
.btn-ele-lockers-stat:visited,
.btn-ele-lockers-hov:link,
.btn-ele-lockers-hov:visited,
.btn-coin:link,
.btn-coin:visited {margin: 8px 2%;}


input[type=submit], 
input[type=submit]:hover, 
input[type=submit]:active { padding: 18px 55px;}

}


/* Small tablet to big tablet: from 993px to 1023px */
@media only screen and (max-width: 991px) {

.container.gallery-container {padding: 60px 475px 60px 0;}

div.icon-row {padding: 1%;}
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 865px) {

.contact-copy {font-size: 16px;}

.nav-update-text {font-size: 14px;}

nav {font-size: 12px;}

.dropdown-advant .dropbtn-advant {padding: 30px 9px 6px 9px;}

.dropdown-ele .dropbtn-ele {padding: 30px 12px 6px 12px;}

.dropdown .dropbtn {padding: 0 9px 6px 9px;}

.dropbtn-ele-sticky {padding: 15px 12px 6px 12px;}

.dropbtn-advant-sticky {padding: 15px 9px 6px 9px;}

.btn-get-lockers-nav-sticky:link,
.btn-get-lockers-nav-sticky:visited {padding: 5px 8px !important;}

nav:link,
.btn-get-lockers-nav:link,
.btn-get-lockers-nav:visited {padding: 5px 8px !important;}

h1 {font-size: 260%}

.box-2 {margin: 0 0 30px 0;}

h3 ul {  margin: 10px 50px 10px 50px;}

.fas-r {padding-left: 25%;}

.fas-l {padding-right: 20%;}

.slider-text {left: 1.7px;}

    }

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (min-width: 769px) {
   .main-nav { display: block !important; }

.advant-intro-btn:link,
.advant-intro-btn:visited {
    margin-left: 10%;
    width: 80%;
}
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 768px) {

.contact-banner,
.faq-banner,
.coin-banner,
.contact-cross,
.advant-banner-2,
.banner-cross,
.locker-banner-2 {background-attachment: inherit;}

.protech-text-head {font-size: 10vw;}

.contact-banner {padding: 200px 0;}

.about-banner-header {
    font-size: 42px;
    padding: 1% 0;
}

.about-anni {
    margin-bottom: 3%;
    font-size: 115%;
    padding: 0 5%;
}

.case-study-copy-red2 {padding: 5%;}

.section-faq {
    padding-bottom: 25px;
    padding-top: 25px;
}

img.locker-pic2 {margin-top: 25px;}

.banner-advant-tech {padding: 100px 0;}

.box-need {margin-left: 0 !important;}

.header-ele-lockers {height: 85vh;}

.advant-pic-left-fix {margin-left: 0 !important;}

.advant-mob-space {padding: 8px 0;}

.btn-coin-stat:link,
.btn-coin-stat:visited,
.btn-ele-lockers-stat:link,
.btn-ele-lockers-stat:visited,
.btn-coin:link,
.btn-coin:visited,
.btn-more:link,
.btn-more:visited,
.btn-get-lockers:link,
.btn-get-lockers:visited {
    padding-bottom: 2px;
    padding-top: 2px;
}

.locker-icon {height: 8vw;}

.section-lockers,
.ele2-spacer:after {margin-top: 8%;}

.nav-update-text,
.nav-update,
.nav-update-link {
    width: 100%;
    padding: 0 !important;
}   

.full-width,
.box-5 {width: 100%;}

h2.h2-form {margin-top: 40px;}

.bq-left,
.bq-middle,
.bq-right,
.cite-pad,
.cite-pad2 {padding: 6% 0;}

.testimonials {
    margin-top: 7%;
    margin-bottom: 10%;
}

.faq-head {
    margin-top: 6%;
    margin-bottom: 6%;
}

.advant-spacer {margin-top: 60px;}

.slider-div-pad {
padding-top: 35px;
padding-bottom: 35px;
}

.no-bot-pad-768 {padding-bottom: 0 !important;}

.contact-spacer-ele-header:after {margin-top: 17%;}

h2.h2-ele-title {
    margin-top: 1px;
    margin-bottom: -50px;
    padding: 9% 5% 12% 5%;
}

h2.h2-ele2-title {
    margin-top: 1px;
    margin-bottom: -50px;
    padding: 8% 5% 13% 5%;
}

.no-bot-mar {margin-bottom: 0 !important;}

.header2-pt,
.header2 {
margin-bottom: 2px;
margin-top: 5px;
}
.everything-need {font-size: 4.5vw;}

.sneed-box-pad {padding-bottom: 15px;}

.faq-q {
    padding-top: 5%;
    font-size: 4vw;}

.faq-q1,
.faq-a {
    padding-bottom: 5%;
    font-size: 4vw;
}

.faq-q1 {
    margin-top: 0;
    padding-top: 3%;
}

.resize-spacer {
    width: 80%;
    border-bottom: 1px solid #ff3a22;
}

.faq-divider2 {border-top: 0;}

.faq-divider {border-left: 0;}

h2.h2-ele-subtext {font-size: 3.5vw;}

.h2-form:after {margin-bottom: 60px;}

.sticky .sticky-mobile-fc {margin-top: 17px !important; }

.nav-margin-fix {margin-bottom: 0;}

.dropdown .dropbtn {padding: 0 0 22px 0;}

.dropdown-advant .dropbtn-advant {padding: 0 0 25px 0;}
.dropdown-ele .dropbtn-ele  {padding: 0 0 25px 0;}

.dropbtn-ele-sticky {padding: 0 0 25px 0;}
.dropbtn-advant-sticky {padding: 0 0 25px 0;}

.logo {
    height: 45px;
    margin: 5px 0;
}

.top-sticky .main-nav {background-color:#040404;
    float: left;
    list-style: none;
    width: 100%;
    margin-top: 2px;
}

.reverse-coin {
    display: flex;
    flex-direction: column-reverse;
    }

.bullets2 {margin-left: 4%;}

.slider-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.col-768-marg-fix {margin: 0 !important;
padding-bottom: 20px;}

.col-768-marg-fix:first-child {padding-top: 20px;}

.slider-text {top: 47.5%;}

.fas-r,
.fas-l {font-size: 175%;}

.footer-nav li,
.social-links li {
margin: 8px 6px;
margin-bottom: 8px;
}

.top-mech-lpad {padding-left: 0;}

.show-hide-div {display: none !important;}

.plastic-bottom {padding-bottom: 30px;}

.about-pic-center {display: inline-block;}
.about-left-copy {margin: 0;}

.study-red2-t-pad {padding: 50px 0 0 0;}
.study-red2-b-pad {padding: 0 0 40px 0;}

.advant-copy,
.advant-intro-copy {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 50px;
}

.about-copy {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0;
}

.dropdown {float: none;}
.dropdown-ele {float: none;}
.navbar a:hover, .dropdown-ele:hover .dropbtn-ele {background-color: #040404;}

.dropdown-content-ele,
.dropdown-content-ele-sticky,
.dropdown-content-advant-sticky {
    background-color: #00000000;
    position: inherit;
    padding: 20px 20px 0 20px;
}

.dropdown-content-advant a {margin: 0 1% 25px 1%}

.dropdown-content-ele a {margin: 0 auto 22px auto;}

.dropdown-content-advant-sticky a {
    margin: 0 auto 25px auto;
max-width: 33%;
}

.dropdown-content-ele-sticky a {
max-width: 25%;
margin: 0 auto 22px auto;
}

.dropdown-advant {float: none;}
.navbar a:hover, .dropdown-advant:hover .dropbtn-advant {background-color: #040404;}


.dropdown-content-advant {background-color: #00000000;
    position: inherit;
    padding: 20px 20px 0 20px;
}

.ele-link-space {padding: 50px 37% 30px 37%;}

.chart-legend,
.chart-legend-2,
div.case-pad {padding: 4% 1% 1% 1%;}

.case-study-copy {margin: 25px 40px 60px 20px;}
.case-study-copy:first-child {margin-top: 10px;}


ul.bullets h2:last-child {margin-bottom: 50px;}
ul.bullets2 h2:last-child {margin-bottom: 50px;}
ul.bullets2 h2 {margin-left: 0;}

h2.h2-title {padding: 0 18% 5% 18%;}

img.locker-pic { padding: 0}

ul.bullets h2:first-child {margin-top: 15px;}
ul.bullets2 h2:first-child {margin-top: 15px;}

h1 {
    padding-right: 0;
    padding-left: 0;}

h1.other {
    padding-right: 5%;
    padding-left: 5%;
}

h1.other-lockers {margin-top: 18%;}

h2 {font-size: 5.5vw;
    padding-right: 5%;
    padding-left: 5%;
}

.feat-list {text-align: center;}

.feat-title {
    text-align: center;
    margin: 10px 0 5px 0;
}

.protech-copy,
.intro-advant,
p.intro {
    width: 80%;
    margin-left: 10%;
}

h3 ul li:last-child {margin-bottom: 10px;}

h3.case-study {text-align: center;}

div.span-1-of-2,
div.span-3-of-8,
div.span-5-of-8 {width: 100%;}

.icon-small-2 {
    padding-bottom: 20px;
    padding-top: 20px;
}

h5.box-3 {margin: 2% 0 7% 0%;
position: inherit;
width: 100%;}

p.lockers-intro-alt {padding: 0 0 50px 0;}

.h3-lockers-intro-alt:first-child {padding: 25px 0 10px 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;}
    
h2.h3-lockers-intro-alt {text-align: center;
    margin: 0 3%;
    padding: 0 0 10px 0;
}

.lockers-intro-alt:last-child {padding-bottom: 50px;}

ul.bullets h2 { padding: 0 5px 0 25px;
margin-bottom: 15px;
margin-top: 15px;
font-size: 3.2vw;}

ul.bullets2 h2 { padding: 0 5px 0 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 3.2vw;}

.box-specs.col:first-child {width: 100%;}

.box-specs-r.col:last-child {width: 100%;}

.wrapper {
    display: flex;
    flex-direction: column;
    }

    .wrapper div:first-child {order: 1;}

.box-specs {
margin-top: 6vh;
width: 100%;
margin-bottom: 25px;
}

.box-100-wide {width: 100%;}

.container.gallery-container { padding: 60px 440px 60px 0;}

.contact-form { width: 80%;}

.social-links {text-align: center;
    float: none;}

.footer-contact { height: auto;}

.footer-nav {text-align: center;
float: none;
}

.mobile-nav-icon {
display: inline-block;
font-size: 200%;
margin-top: 6px;
}

.main-nav li {
    display: block;
    font-size: 125%;
    margin-left: 0;
}

.main-nav {
display: none;
float: left;
margin-right: 0;
padding: 20px 15px 0 15px;
}

.main li a:link,
.main li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
}

.sticky .main-nav {
    float: left;
    list-style: none;
    margin-top: -15px;
    width: 100%;
    margin-right: 0;
} 

.sticky .mobile-nav-icon {
    display: inline-block;
    font-size: 200%;
    margin: 4px 0 0 0;
    }

.sticky .mobile-nav-icon i {color: #000080;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited { padding: 10px 0;}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active { border-bottom: 2px solid #ff3a22;}

.long-copy {
    width: 60%;
    margin-left: 20%;
}

.row { padding: 0 3%;}

.box {
    margin-bottom: 25px;
    margin-left: 0;
}

.logo-black {
    margin: 4px 0 4px 6px;
    height: 45px;
    margin-left: 0;
}

.form-question { padding-bottom: 15px; }

.long-logo {
    max-width: 60%;
    margin: 0 20%; 
}

.all-around {padding: 0 0 0 15px;}

.contact-p-pad {margin-top: 0;
padding-top: 2%;}

.home-shark-banner {padding: 5%;}

.susp-link-top {font-size: 3vw;}

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

.faq-section-2 {
    padding-bottom: 25px;
    padding-top: 60px;
}

div.box-faq {
    padding: 0;
    margin: 1%;
}

.faq-click-head {font-size: 100%;}

iframe {
    height: 400px;
    width: 80vw;
}

        #contact-md { order: 2; }
#contact-corp { order: 1; }
#contact-cnd { order: 3; }

.footer-width {
    margin-left: 20%;
    width: 60%;
}

.new-feats-par2 {padding-bottom: 5vh;}

.new-feat-div {width: 100%;}

.box-need {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 4vw;
}

.testimonial-divider {
    border-top: 1px solid #ff3a22;
    border-bottom: 1px solid #ff3a22;
    border-left: none;
    border-right: none;
    }

.everything-top-mar {
margin-top: 25px;
margin-bottom: 45px;
}
.everything-bot-mar {
margin-top: 45px;
margin-bottom: 25px;
}

.advant-spacer-2 {
    margin-bottom: 25px;
    margin-top: 15px;
}

.advant-spacer-2:after {margin-top: 50px;}

}

/* Small phones: from 480px to 610px */
@media only screen and (max-width: 610px) {

.row-pad-0 {padding: 0 !important;}   

.card > .card-header a::before {margin-right: 5px;}

.advant-spacer-2 {
    margin-bottom: 25px;
    margin-top: 15px;
}

.locker-specs-bg {margin-top: 8%;}

.everywhere-you-go-advant {padding: 30px 2%;}

h3.case-study,
.advant-header {font-size: 5.5vw;}

.coin-banner,
.contact-banner,
.banner-cross,
.advant-banner-2,
.contact-cross,
.banner-advant-tech {padding: 75px 0;}

p.lockers-intro-alt {padding-bottom: 35px;}

h2.h3-lockers-intro-alt {font-size: 4vw;}

.slider-text {top: 46.8%;}

.dropdown-content-advant-sticky a {max-width: 45%;}
.dropdown-content-ele-sticky a {max-width: 42%;}

.flex-container img {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

h2.everywhere-you-go {padding: 7%}

h2.h2-sm-margin {
margin-top: 9%;
margin-bottom: 6%;
}

}

/* Small phones: from 300px to 480px */
@media only screen and (max-width: 480px) {

img.shark-mask-pic {max-width: 75%;}

h1.protech-text-head {font-size: 200%;}

.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.partner-margin {margin-top: 12%;}

.about-copy {padding: 0 0 15px 0;}

.about-spacer {margin: 0 0 9% 0;}

.about-spacer:after {margin-top: 7%;}

h3.case-bold-1 {margin: 0 5%;}

.no-bot-mar-480 {margin-bottom: 0 !important;}

h2.h2-advant-title {padding: 40px 5%;}
.contact-spacer:after {margin-top: 40px;}

.slider-div-pad {
    padding-top: 25px;
    padding-bottom: 25px;
}

.contact-spacer4:after,
.intro-spacer:after,
.contact-spacer2:after,
.about-spacer:after,
.contact-spacer-ele-header:after,
.contact-spacer:after,
.h2-form:after {width: 80%;}

.about-banner-header  {font-size: 36px;}

.advant-header {font-size: 7.5vw;}

.case-study-copy:first-child {margin-top: 5px;}

.case-study-copy:last-child {margin-bottom: 25px;}

.advant-spacer::after,
h2.ele2-spacer:after {
    width: 80%;
    margin-top: 6%;
}

.section-lockers,
.advant-spacer {margin-top: 6%;}

h2.h2-ele-title {padding: 18% 5% 90px 5%;}

h2.h2-ele2-title {padding: 7% 5% 13% 5%;}

.faq-pad {padding: 40px 15px;}

div .btn-patent:link,
div .btn-patent:visited {
    max-width: 100%;
    font-size: 6vw;
    padding-left: 12vw;
    padding-right: 12vw;
}

div .btn-faq:link,
div .btn-faq:visited {
    max-width: 100%;
    font-size: 6vw;
    padding-left: 16vw;
    padding-right: 16.3vw;
}

div .btn-ele-sizes:link,
div .btn-ele-sizes:visited {
    max-width: 100%;
    font-size: 6vw;
    padding-left: 6vw;
    padding-right: 6vw;
}

.slider-text {top: 46.25%;}

.ele-bot-up-large {font-size: 6.2vw;}

.icon-advant-big {
    font-size: 12vw;
    padding: 0;
    transform: rotate(90deg);
}

.dropdown-content-advant-sticky a {max-width: 75%;}
.dropdown-content-ele-sticky a {max-width: 72%;}

.title-long-logo {
    margin: 10px 25% -5px 25%;}

p.intro {font-size: 5vw;}

.btn-read:link,
.btn-read:visited {padding: 6px 20px;}

.btn-more:link,
.btn-more:visited{
    padding: 4px 4.3vw;
    font-size: 5.5vw;
    white-space: nowrap;
}

.btn-stat:link,
.btn-stat:visited,
.btn-coin-stat:link,
.btn-coin-stat:visited,
.btn-read:link,
.btn-read:visited {padding: 4px 7.7vw;
    font-size: 5vw;
    white-space: nowrap;}

.btn-get-lockers:link,
.btn-get-lockers:visited {padding: 4px 7.7vw;
    font-size: 5.5vw;
    white-space: nowrap;}

.btn-ele-lockers-hov:link,
.btn-ele-lockers-hov:visited {
    padding: 6px 5.5vw;
    font-size: 5vw;
    white-space: nowrap;}

.advant-btn-resize {font-size: 5vw;}

h1 {font-size: 9vw;}
h2 {font-size: 8vw;}
h3 {font-size: 7vw;}
h4 {font-size: 2.2vw;}
h1.other {font-size: 10vw;}
.header-subtext {font-size: 4vw;}

.ele-bottom-uppercase {font-size: 6.2vw;}

h2 li  {font-weight: bold;}

section { padding: 25px 0; }
.contact-form { width: 90%; }

.long-logo {
    max-width: 86%;
    margin: 0 7%;
}

input[type=submit], 
input[type=submit]:hover, 
input[type=submit]:active {
    padding: 15px;
    font-size: 6vw;
}

.icon-big {font-size: 9vw;}

.fas-health {font-size: 14vw !important;}

.protech-update-banner h2 {font-size: 6vw;}

.btn-read-wh p,
.btn-read-wh p {font-size: 5vw;}

.plastic-text3,
.plastic-text2  {font-size: 5.5vw;}

.faq-pad {padding: 4px;}

ul.bullets2 h2,
ul.bullets h2 {
    margin-left: 0;
    padding-left: 1%;
    font-size: 4.2vw;
}

h2.h2-form {margin-top: 30px;}

.chart-legend,
.chart-legend-2 {font-size: 5vw;}

.h4-contact {font-size: 4vw;}

.contact-p-pad {
    margin-top: 7%;
    margin-bottom: 2%;
}

.icon-contact {font-size: 9vw;}

.h4-contact2 {font-size: 6.7vw;}

.contact-copy {font-size: 4.8vw;}

.btn-ele-lockers-stat:link,
.btn-ele-lockers-stat:visited,
.btn-coin:link,
.btn-coin:visited {
    padding: 6px 4%;
    font-size: 5vw;
    white-space: nowrap;
    margin-top: 10px;
}

.header2-pt {font-size: 6vw;}

}

/* Small phones: from 300px to 480px */
@media only screen and (max-width: 412px) {

.faq-tab-head {font-size: 7vw;}

.faq-copy {
    font-size: 5vw;
    padding-bottom: 2%;
}

.faq-h5-spacer {
    font-size: 6vw;
    padding-bottom: 2%;
}

.addt-qs-marg {
    font-size: 8vw;
    margin: 2% 0;
}

div.box-faq {margin: 3% 20% !important;}

.plastic-text {font-size: 5vw;}

.cust-svc-bg2,
.section-contact {padding: 15px 0 0 0;}

.intro-spacer {margin-bottom: 40px;}

h5 {font-size: 7vw;}

.advant-spaver {margin-top: 30px;}

.flex-container img {
    margin: 6px;
    padding: 12px;
}

img.center-pic {padding-top: 45px;}
h2 {margin: 9% 0 6% 0;}

.h2-form:after {margin-bottom: 60px;}

.coin-banner,
.contact-banner,
.banner-cross,
.advant-banner-2,
.contact-cross,
.banner-advant-tech {padding: 11vh 0;}

h3.case-bold-1 {margin: 0 5%;}

.case-study-copy {
    margin: 9%;
    font-size: 5vw;
}

i.fa-birthday-cake {font-size: 200%;}

.about-banner-header {font-size: 7vw;}
.about-anni {font-size: 4vw;}
.anni-mention {font-size: 3.7vw;}

h3.case-study,
.advant-header {font-size: 7vw;}

.btn-ele-lockers-stat:link,
.btn-ele-lockers-stat:visited {
    padding: 4px 4.5%;
    font-size: 5vw;
    white-space: nowrap;
    margin-top: 10px;
}

h1.other-lockers {margin-top: 50%;}

div.feat-title,
div.feat-list {font-size: 5vw;}

.slider-text {top: 45.3%;}

.indent {margin-left: 20px;}

.lr-padding {padding-left: 13%;
    padding-right: 13%;}

ul.bullets h2:last-child {margin-bottom: 40px;}


ul.bullets li {
    font-size: 5vw;
    vertical-align: middle;
}

.btn-margin {margin-top: -40px;}

.btn-free-eval:link,
.btn-free-eval:visited {font-size: 5.5vw;
padding: 0 5%; }

h2.h3-lockers-intro {
    padding: 30px 2%;
    font-size: 7vw;}

h2.h2-title {
    padding: 10% 2% 2% 2%;
    font-size: 7vw;
    margin: 0;}

h3.h3-lockers-alt {font-size: 7vw;}


blockquote,
cite,
p.intro-copy,
label,
.lockers-intro-alt
    {font-size: 4.6vw;}

.btn-read-wh:link,
.btn-read-wh:visited {padding: 6px 20px;}

.intro-spacer:after {margin-top: 40px;}

.contact-spacer:after {margin-top: 7%;}
}

/* TINY: from 0px to 269px */
@media only screen and (max-width: 269px) {

    .faq-pad-fix {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

div.box-faq {margin: 3% 5% !important;}

.yn-resize {font-size: 5vw !important;}

.h2-form:after {
    margin-top: 25px;
    margin-bottom: 25px;
}

h2.h2-form {margin-top: 0;}

h2.h2-ele2-title {padding: 6% 5% 18% 5%;}

p.lockers-intro-alt:last-child {padding-bottom: 20px;}

.mobile-nav-icon i.ion-md-close,
.mobile-nav-icon i {
font-size: 140%;
padding: 12px 5px;
}

.long-logo {
    max-width: 80%;
    margin: 0 10%; 
}

.testimonial-resize {height: 50px;}

.small-size-text {font-size: 8vw;}

.slider-text {top: 42.5%;}

.logo,
.logo-black {
height: 25px;
margin-top: 12px;
margin-left: .5%;
}

}

/* TINY: from 0px to 269px */
@media only screen and (max-width: 215px) {

.box-fin-size {
    min-width: 50px;
    width: 80%;
}

.protech-text-head {font-size: 16vw;}

.faq-click-head {font-size: 9vw;}

.nav-update-text {font-size: 6vw;}

.home-shark-banner {padding: 2%;}

img.center-pic {padding-top: 20px;}

.intro-spacer:after {margin-top: 20px;}

.intro-spacer {margin-bottom: 20px;}

.about-copy {padding-bottom: 0;}

section {padding: 15px 0;}

.box-legend-comp,
.box-legend-tib {font-size: 8vw;}

.advant-spacer,
h2.h2-advant-title {padding: 15px 2% 10px 2%;}

.everything-top-mar {
    margin-top: 15px;
    margin-bottom: 25px;
}

.everything-bot-mar {
    margin-top: 25px;
    margin-bottom: 15px;
}

h2.h2-ele-title {padding-bottom: 60px;}

ul.bullets h2:last-child {margin-bottom: 25px;}

.advant-copy {padding-bottom: 5px;
}
.advant-copy,
.about-copy,
.advant-intro-copy {
    font-size: 7.5vw;
    margin-bottom: 15px;
}

h2.h2-ele2-title {padding-bottom: 35px;}

.plastic-text2 {margin: 0 9%;}

.icon-advant-tech {font-size: 17vw;}

.mobile-nav-icon i.ion-md-close,
.mobile-nav-icon i {font-size: 105%;}

.logo,
.logo-black {height: 15px;;
}

.testimonial-resize {height: 30px;}

.section-testimonials {padding: 5%;}

input[type=radio] {margin: 0 0 25px 20px;}

input[type=submit], input[type=submit]:hover, input[type=submit]:active{
    padding: 8px;
}

.btn-margin {margin-top: -147px;}

footer {
    font-size: 6vw;
    padding: .5%
}

.fas-l {font-size: 150px;}
.fas-r {font-size: 170px;}
.fas {font-size: 5vw;}
}

/* TINY: from 0px to 269px */
@media only screen and (max-height: 500px) {

}

@media (max-width: 575.98px) {
.gallery {
    grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768.98px) and (min-width: 576px) {
.gallery {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991.98px) and (min-width: 768px) {
.gallery {
    grid-template-columns: repeat(3, 1fr); 
}
}

@media (max-width: 1199.98px) and (min-width: 992px) {
.gallery {
    grid-template-columns: repeat(3, 1fr); 
}
}

@media (min-width: 1200px) {
.gallery {
    grid-template-columns: repeat(3, 1fr); 
}
}