/* Small phones to small tablets: from 481px to 767px */
@media only screen and (min-width: 2560px) {

    ul.bullets h2 {font-size: 40px;}
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (min-width: 1201px) {
.main-header {font-size: 92px;}
.header2 {font-size: 45px;}
}

/* Big tablet to 1200px (Widths smaller than the 1140px row) */
@media only screen and (max-width: 1500px) {

ul.bullets h2 {padding: 20px 15px 0 5px;}
ul.bullets2 h2 {padding: 20px 12px 0 0;
    margin-left: 50px;}

    .top-mech-lpad {
        padding-left: 40px;}

    ul.bullets h2:first-child {margin-top: 30px;}

    .header2 {font-size: 3.5vw;}
    .main-header {font-size: 5.9vw;}
    }

/* Big tablet to 1200px (Widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

    nav {font-size: 16px;}

    .dropdown-adv .dropbtn-adv {padding: 30px 16px 14px 16px;}

    .dropdown-ele .dropbtn-ele {padding: 30px 26px 14px 26px;}

    .dropdown .dropbtn {padding: 0 12px 14px 12px;}

    .dropbtn-ele-sticky {padding: 15px 26px 14px 26px;}

    .dropbtn-adv-sticky {padding: 15px 16px 14px 16px;}

    .main-nav li {margin-left: 0;}

    .hero-text-box,
    .hero-text-box-lockers,
    .hero-text-box-lockers-2,
    .hero-text-box-other {
        width: 100%;
        padding: 0 2%;
    }

    .case-study li,
    h3.case-study {line-height: 1.25;}

    .adv-left-copy {margin: 1% 0 0px 8%;}
    }

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

    h2.h2-ele-subtext {
        margin-bottom: 0;
        font-size: 110%;
    }

    .box-need {font-size: 18px;}

    ul.bullets h2:first-child {margin-top: 20px;}

    nav {font-size: 12px;}

    .btn-get-lockers-nav-sticky:link,
    .btn-get-lockers-nav-sticky:visited {padding: 5px 8px !important;}

    .dropdown-adv .dropbtn-adv {padding: 30px 16px 14px 15px;}
    .dropdown-ele .dropbtn-ele {padding: 30px 22px 14px 22px;}

    .dropbtn-ele-sticky {padding: 15px 22px 14px 22px;}
    .dropbtn-adv-sticky {padding: 15px 15px 14px 15px;}

    .logo-black,
    .logo {
    height: 58px;
    margin-left: 8px;
    }
    
    nav:link,
    .btn-get-lockers-nav:link,
    .btn-get-lockers-nav:visited {
    padding: 5px 8px !important;
    }
    
    .main-nav {padding: 0 0 25px 5px;}

    .slider-text {
        top: 45.5%;
        left: 1.7px;
    }
    
    .fas-r {padding-left: 20%;
        font-size: 5vw;}

    .fas-l {padding-right: 15%;
        font-size: 5vw;}

    .contact-spacer4:after {margin: 46px auto 20px auto;}

    .privacy-copy2,
    .privacy-copy,
    .about-copy {width: 70%;
        margin-left: 15%;
    }

    ul.bullets2 h2 {margin-top: 20px;
        margin-bottom: 15px;
    }

    .box-specs.col:first-child {
        width: 38%;
        margin-left: 1%;
    }
    
    .box-specs-r.col:last-child {
        width: 38%;
        margin-right: 1%;
    }

    .box-specs { margin-left: 1%;}

    h3.h3-lockers {padding-left: 5%;}

    h2.contact-spacer-maps {display: block;}

    body {font-size: 18px;}

    section {padding: 35px 10px;}

    section .section-features-map {padding: 0 0;}
    
    .long-copy {
    width: 60%;
    margin-left: 20%;}

    .contact-form  {width: 80%;}

    .section-features .row-map {
        flex-wrap: wrap;
        display: grid;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto 0 auto;
    }

    section .section-features,
    .section-map { padding: 0 0 0 0;}

    .btn-more:link,
    .btn-more:visited,
    .btn-get-lockers:link,
    .btn-get-lockers:visited {margin: 8px 2%;}
    
    .btn-coin-stat:link,
    .btn-coin-stat:visited,
    .btn-ele-lockers-stat:link,
    .btn-ele-lockers-stat:visited,
    .btn-ele-lockers-hov:link,
    .btn-ele-lockers-hov:visited,
    .btn-coin:link,
    .btn-coin:visited {margin: 8px 2%;}


    input[type=submit], 
    input[type=submit]:hover, 
    input[type=submit]:active { padding: 18px 55px;}

}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 991px) {
    .container.gallery-container {padding: 60px 475px 60px 0px;}
    
    div.icon-row {padding: 1% 1%}    
    }

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 865px) {
    h1.other {font-size: 250%;}
    h1 {font-size: 260%}

    .box-2 {margin: 0 0 30px 0;}

    h3 ul {  margin: 10px 50px 10px 50px;}

    .fas-r {padding-left: 25%;}

    .fas-l {padding-right: 20%;}

    .slider-text {left: 1.7px;}

    }

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (min-width: 769px) {
   .main-nav { display: block !important; }
}    

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 768px) {

    .contact-spacer-ele-header:after {margin-top: 8%;}

    h2.h2-ele-title {
        margin-top: 1px;
        margin-bottom: -50px;
        padding: 9% 5% 12% 5%;
    }

    h2.h2-ele2-title {
        margin-top: 1px;
        margin-bottom: -50px;
        padding: 8% 5% 13% 5%;
    }
    
    .no-bot-mar {margin-bottom: 0 !important;}

    .main-header {margin-top: 105px;}
    .header2 {
    margin-bottom: 5px;
    margin-top: 5px;
}
    .everything-need {font-size: 4.5vw;}

    .sneed-box-pad {padding-bottom: 15px;}

    .faq-q {
        padding-top: 5%;
        font-size: 4vw;}

    .faq-q1,
    .faq-a {
        padding-bottom: 5%;
        font-size: 4vw;
    }

    .faq-q1 {
        margin-top: 0;
        padding-top: 3%;
    }

    .resize-spacer {
        width: 80%;
        border-bottom: 1px solid #ff3a22;
    }

    .faq-divider2 {border-top: 0px}
    
    .faq-divider {border-left: 0px;}

    h2.h2-ele-subtext {font-size: 3.5vw;}

    .h2-testimonials:after {margin-bottom: 60px;}

    .sticky .sticky-mobile-fc {margin-top: 17px !important; }

    .nav-margin-fix {margin-bottom: 0;}

    .dropdown .dropbtn {padding: 0 0px 22px 0px;}

    .dropdown-adv .dropbtn-adv {padding: 0 0 25px 0;}
    .dropdown-ele .dropbtn-ele  {padding: 0 0 25px 0;}

    .dropbtn-ele-sticky {padding: 0 0 25px 0;}
    .dropbtn-adv-sticky {padding: 0 0 25px 0;}

    .logo {height: 45px;
        margin-left: 6px;
        margin-top: 5px;
    }

    .top-sticky .main-nav {background-color:#040404;
        float: left;
        list-style: none;
        width: 100%;
        margin-top: 2px;
    }

    .reverse-coin {
        display: flex;
        flex-direction: column-reverse;
      }
    
    .bullets2 {margin-left: 4%;}

    .col-768-marg-fix {margin: 0 !important;
    padding-bottom: 20px;}

    .col-768-marg-fix:first-child {padding-top: 20px;}

    .slider-text {top: 47.5%;}

    .fas-r,
    .fas-l {font-size: 175%;}

    .footer-nav li,
    .social-links li {
    margin: 8px 6px;
    margin-bottom: 8px;
}

    .top-mech-lpad {padding-left: 0;}

    .show-hide-div {display: none !important;}
    
    .plastic-bottom {padding-bottom: 30px;}

    .full-width {width: 100%;}
    .about-pic-center {display: inline-block;}
    .about-left-copy {margin: 0;}

    .study-red2-t-pad {padding: 50px 0 0 0;}
    .study-red2-b-pad {padding: 0 0 40px 0;}

    .adv-left-copy {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 50px;
    }

    .dropdown {float: none;}
    .dropdown-ele {float: none;}
    .navbar a:hover, .dropdown-ele:hover .dropbtn-ele {background-color: #040404;}

    .dropdown-content-ele {background-color: #00000000;
        position: inherit;
        padding: 20px 20px 0 20px;
    }

    .dropdown-content-ele-sticky {background-color: #00000000;
        position: inherit;
        padding: 20px 20px 0 20px;
    }

    .dropdown-content-adv-sticky {background-color: #00000000;
        position: inherit;
        padding: 20px 20px 0 20px;
    }

    .dropdown-content-adv a {margin: 0 1% 25px 1%}

.dropdown-content-ele a {
    margin: 0 auto 22px auto;
}

.dropdown-content-adv-sticky a {
    margin: 0 auto 25px auto;
max-width: 33%;
}

.dropdown-content-ele-sticky a {
max-width: 25%;
margin: 0 auto 22px auto;
}

    .dropdown-adv {float: none;}
    .navbar a:hover, .dropdown-adv:hover .dropbtn-adv {background-color: #040404;}


    .dropdown-content-adv {background-color: #00000000;
        position: inherit;
        padding: 20px 20px 0 20px;
    }

    .ele-link-space {padding: 50px 37% 30px 37%;}

    div.case-pad {padding: 4% 1% 1% 1%;}

    .case-study-copy {
        margin: 25px 40px 25px 40px;}

    ul.bullets h2:last-child {margin-bottom: 50px;}
    ul.bullets2 h2:last-child {margin-bottom: 50px;}
    ul.bullets2 h2 {margin-left: 0;}

    h2.h2-title {padding: 0 18% 5% 18%;}

    img.locker-pic { padding: 0 0 0 0}

    ul.bullets h2:first-child {margin-top: 15px;}
    ul.bullets2 h2:first-child {margin-top: 15px;}

    h1 {
        padding-right: 0;
        padding-left: 0;}

    h1.other {font-size: 5.9vw;
        padding-right: 5%;
        padding-left: 5%;}

    h1.other-lockers {font-size: 5.9vw;
        padding-right: 5%;
        padding-left: 5%;
        margin-top: 16%;
            }

    h2 {font-size: 5.5vw;
        padding-right: 5%;
        padding-left: 5%;
    }  

    iframe {height: 400px;
        width: 80vw;}

    .feat-list {text-align: center;}
    .feat-title {text-align: center;
        margin: 10px 0 5px 0;
    }

    p.intro {    width: 80%;
        margin-left: 10%;
    }

h3 ul li:last-child {margin-bottom: 10px;}

    h3.case-study {text-align: center;}

    div.span-1-of-2,
    div.span-3-of-8,
    div.span-5-of-8 {width: 100%;}



    .icon-small-2 {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    h5.box-3 {margin: 2% 0 7% 0%;
    position: inherit;
    width: 100%;}

    p.lockers-intro-alt {padding: 0 0 50px 0;}

    .h3-lockers-intro-alt:first-child {padding: 25px 0 10px 0;
        margin-left: 0;
        margin-right: 0;
        text-align: center;}
        
    h2.h3-lockers-intro-alt {text-align: center;
        margin: 0 3%;
        padding: 0 0 10px 0;
    }

    h2.h2-adv-title {
        padding-left: 5%;
        padding-right: 5%;
    }

    .lockers-intro-alt:last-child {padding-bottom: 50px;}

    ul.bullets h2 { padding: 0px 5px 0px 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 3vw;}

    ul.bullets2 h2 { padding: 0px 5px 0px 25px;
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 3vw;}

    div.footer-color {width: 100%;}

    .box-specs.col:first-child {width: 100%;}

    .box-specs-r.col:last-child {width: 100%;}

    .wrapper {
        display: flex;
        flex-direction: column;
      }

      .wrapper div:first-child {order: 1;}

    .box-specs {
    width: 100%;
    margin-bottom: 25px;
}

    .box-100-wide {width: 100%;}

    .container.gallery-container { padding: 60px 440px 60px 0px;}

    .contact-form { width: 80%;}

    .social-links {text-align: center;
        float: none;}

    .footer-contact { height: auto;}

    .footer-nav {text-align: center;
    float: none;
    }
    
    .mobile-nav-icon {
    display: inline-block;
    font-size: 200%;
    margin-top: 5px;
    }

    .main-nav li {
        display: block;
        font-size: 125%;
        margin-left: 0;
    }

    .main-nav {
    display: none;
    float: left;
    margin-right: 0;
    padding: 20px 15px 0 15px;
    }

    .main li a:link,
    .main li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
    }

    .sticky .main-nav {
        float: left;
        list-style: none;
        margin-top: -15px;
        width: 100%;
        margin-right: 0;
    } 

    .sticky .mobile-nav-icon {
        display: inline-block;
        font-size: 200%;
        margin: 3px 0 0 0;
        }

    .sticky .mobile-nav-icon i {color: navy;}
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0;}
    
    .sticky .main-nav li a:hover,
    .sticky .main-nav li a:active { border-bottom: 2px solid #ff3a22;}
    
    .long-copy {
        width: 60%;
        margin-left: 20%;
    }

    .row { padding: 0 3%;}

    .box {
        margin-bottom: 25px;
        margin-left: 0px;
    }
 
    .logo-black {
        margin: 4px 0 4px 6px;
        height: 45px;
    }
 
    .form-question { padding-bottom: 15px; }
    
    .long-logo {max-width: 46%;
        margin: 0 27% 0 27%; 
    }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    .box-need {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 4vw;
    }

.testimonial-divider {
    border-top: 1px solid #ff3a22;
    border-bottom: 1px solid #ff3a22;
    border-left: none;
    border-right: none;
    }

    .no-top-mar2 {margin-top: 0 !important;}
    .no-bot-mar2 {margin-bottom: 0 !important;}

}

/* Small phones: from 300px to 480px */
@media only screen and (max-width: 610px) {

    .contact-cross,
    .banner-adv-tech {padding: 75px 0;}

    p.lockers-intro-alt {padding-bottom: 35px;}

    h2.h3-lockers-intro-alt {font-size: 4vw;}

    .slider-text {top: 46.8%;}

.dropdown-content-adv-sticky a {max-width: 45%;}
.dropdown-content-ele-sticky a {max-width: 42%;}

.flex-container img {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

h2.everywhere-you-go {padding: 7%}

h2.h2-sm-margin {
margin-top: 9%;
margin-bottom: 6%;
}

}

/* Small phones: from 300px to 480px */
@media only screen and (max-width: 480px) {

    h2.ele2-spacer:after {
        width: 60%;
        margin-top: 6%;
    }

    .contact-spacer-ele-header:after {margin-top: 6%;}

    h2.h2-ele-title {padding: 7% 5% 60px 5%;}

    h2.h2-ele2-title {padding: 7% 5% 13% 5%;}

    .faq-pad {padding: 40px 15px;}

    div .btn-patent:link,
    div .btn-patent:visited {
        max-width: 100%;
        font-size: 6vw;
        padding-left: 12vw;
        padding-right: 12vw;
    }

        div .btn-ele-sizes:link,
        div .btn-ele-sizes:visited {
            max-width: 100%;
            font-size: 6vw;
            padding-left: 6vw;
            padding-right: 6vw;
        }

        .slider-text {top: 46.25%;}

    .ele-bot-up-large {font-size: 6.2vw;}

    .icon-adv-big {
        font-size: 12vw;
        padding: 0;
        transform: rotate(90deg);
    }
    
    .dropdown-content-adv-sticky a {max-width: 75%;}
    .dropdown-content-ele-sticky a {max-width: 72%;}

    .title-long-logo {
        margin: 10px 25% -5px 25%;}

    p.intro {font-size: 5vw;}

    .btn-read:link,
    .btn-read:visited {padding: 6px 20px;}

    .btn-more:link,
    .btn-more:visited{
        padding: 6px 4.3vw;
        font-size: 5.5vw;
        white-space: nowrap;
    }

    .btn-stat:link,
    .btn-stat:visited,
    .btn-coin-stat:link,
    .btn-coin-stat:visited,
    .btn-read:link,
    .btn-read:visited {padding: 6px 7.7vw;
        font-size: 5vw;
        white-space: nowrap;}

    .btn-get-lockers:link,
    .btn-get-lockers:visited {padding: 6px 7.7vw;
        font-size: 5.5vw;
        white-space: nowrap;}

    .btn-ele-lockers-hov:link,
    .btn-ele-lockers-hov:visited {
        padding: 6px 5.5vw;
        font-size: 5vw;
        white-space: nowrap;}
        
    h1 {font-size: 9vw;}
    h2 {font-size: 8vw;}
    h3 {font-size: 6vw;}
    h4 {font-size: 2vw;}
    h1.other {font-size: 10vw;}
    .header-subtext {font-size: 4vw;}

    .ele-bottom-uppercase {font-size: 6.2vw;}

    h2 li  {font-weight: bold;}

    section { padding: 25px 0; }
    .contact-form { width: 90%; }

    .long-logo {max-width: 60%;
        margin: 0 20% 0 20%; 
    }

input[type=submit], 
input[type=submit]:hover, 
input[type=submit]:active {
    padding: 15px;
    font-size: 6vw;
}

.icon-big {font-size: 9vw;}

.fas-health {font-size: 14vw !important;}

.protech-update-banner h2 {font-size: 6vw;}

.btn-read-wh p,
.btn-read-wh p {font-size: 5vw;}

.plastic-text3,
.plastic-text2  {font-size: 5.5vw;}

.faq-pad {padding: 4px;}

}

/* Small phones: from 300px to 480px */
@media only screen and (max-width: 412px) {

    .btn-ele-lockers-stat:link,
    .btn-ele-lockers-stat:visited {
        padding: 6px 6%;
        font-size: 5vw;
        white-space: nowrap;
        margin-top: 10px;
    }

    .btn-coin:link,
    .btn-coin:visited {
        padding: 6px 8%;
        font-size: 5vw;
        white-space: nowrap;
        margin-top: 10px;
    }


    h1.other-lockers {margin-top: 30%;}

    div.feat-title,
    div.feat-list {font-size: 5vw;}

    .slider-text {top: 45.3%;}

    .indent {margin-left: 20px;}

    .lr-padding {padding-left: 13%;
        padding-right: 13%;}

    ul.bullets h2:last-child {margin-bottom: 20px;}

    ul.bullets h2 {
        margin-left: 0;
        padding-left: 1%;
        font-size: 4.2vw;
    }

    ul.bullets li {
        font-size: 5vw;
        vertical-align: middle;
    }

    .btn-margin {margin-top: -40px;}

    .btn-free-eval:link,
    .btn-free-eval:visited {font-size: 5.5vw;
    padding: 0 5%; }

    h2.h3-lockers-intro {
        padding: 30px 2% 30px 2%;
        font-size: 7vw;}

    h2.h2-title {
        padding: 10% 2% 2% 2%;
        font-size: 7vw;
        margin: 0;}
    
    h3.h3-lockers-alt {font-size: 7vw;}
    
    blockquote,
    cite,
    p.intro-copy,
    label,
    .lockers-intro-alt
     {font-size: 4.6vw;}

     .btn-read-wh:link,
     .btn-read-wh:visited {padding: 6px 20px;}

}

/* TINY: from 0px to 269px */
@media only screen and (max-width: 269px) {

    h2.h2-ele2-title {padding: 6% 5% 18% 5%;}

    p.lockers-intro-alt:last-child {padding-bottom: 20px;}

    .mobile-nav-icon i.ion-md-close,
    .mobile-nav-icon i {
    font-size: 140%;
    padding: 12px 5px;
    }

    .long-logo {max-width: 80%;
        margin: 0 10% 0 10%; 
    }

    .testimonial-resize {height: 50px;}

    .small-size-text {font-size: 8vw;}

    .slider-text {top: 42.5%;}

    .logo,
    .logo-black {
    height: 20px;
    margin-top: 12px;
    margin-left: .5%;
}

}

/* TINY: from 0px to 269px */
@media only screen and (max-width: 215px) {

    h2.h2-ele2-title {padding-bottom: 35px;}

    .plastic-text2 {margin: 0 9%;}

    .icon-advant-tech {font-size: 17vw;}

    .mobile-nav-icon i.ion-md-close,
    .mobile-nav-icon i {font-size: 105%;}

    .logo,
    .logo-black {height: 15px;;
    }

    .testimonial-resize {height: 30px;}

    .contact-spacer-ele-header:after {width: 80%;}
    .contact-spacer:after {width: 80%;}
    .h2-testimonials:after {width: 80%;}

    .section-testimonials {padding: 5%;}

    input[type=radio] {margin: 0 0 25px 20px;}

    input[type=submit], input[type=submit]:hover, input[type=submit]:active{
        padding: 8px;
    }

    .btn-margin {margin-top: -147px;}

    footer {
        font-size: 6vw;
        padding: .5%
    }

    .fas {font-size: 5vw;}
}

@media (max-width: 575.98px) {
    .gallery {
      grid-template-columns: repeat(1, 1fr);
     }
  }
  
  @media (max-width: 768.98px) and (min-width: 576px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
     }
  }
  
  @media (max-width: 991.98px) and (min-width: 768px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media (max-width: 1199.98px) and (min-width: 992px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media (min-width: 1200px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  